#nprogress .bar {
  background: linear-gradient(to right, #4466f2, #6b8af2) !important;
  height: 3px !important;
  transition: all 0.3s ease-in-out;
}

#nprogress .peg {
  box-shadow:
    0 0 10px #4466f2,
    0 0 5px #4466f2;
}
